beautifulsoup4==4.9.1
bs4==0.0.1
click==7.1.2
html2text==2020.1.16
joblib==0.16.0
lxml==4.6.2
markdown2==2.4.0
nltk==3.5
numpy==1.19.1
pandas==1.1.0
python-dateutil==2.8.1
pytz==2020.1
regex==2020.7.14
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
threadpoolctl==2.1.0
tqdm==4.48.2
